<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:inline="text">Thêm Phòng Ban</title>
</head>
<body>
<main layout:fragment="content">
    <h2>Thêm Phòng Ban</h2>
    <form th:action="@{/phongbans/add}" th:object="${phongBan}" method="post">
        <label>Mã Phòng:</label>
        <input type="text" th:field="*{maPhong}" /><br/>
        <label>Tên Phòng:</label>
        <input type="text" th:field="*{tenPhong}" /><br/>
        <button type="submit">Thêm</button>
    </form>
</main>
</body>
</html>
